In [13]:
import requests

In [14]:
import pandas as pd

In [15]:
import json

In [16]:
import numpy as np

In [17]:
from datetime import datetime

In [18]:
Token='OoeEqCRdffLCMwPfNWBmviwlIOuwuVaw'

In [19]:
station_id='GHCND:USW00094728'

In [ ]:
data={}
params=['TMAX','TMIN','PRCP']
for i in range(1960,2021):
    data[i]={}
    for j in range(1,13):
        data[i][j]={}
        for param in params:
            data[i][j][param]=[]
for year in range(1960,2021):
    print('year:'+ str(year))
    for param in params:
        r=requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&limit=900&stationid=GHCND:USW00014734&datatypeid='+param+'&startdate='+str(year)+'-01-01&enddate='+str(year)+'-12-31', headers={'token':Token})
        d_data= r.json()
        
        for entry in d_data['results']:
            month =int(entry['date'][5:7])
            data[year][month][param] += [entry['value']/10]

In [22]:
def avg_list(l):
    sum = 0
    for ele in l:
        sum += ele
    return sum/len(l) if len(l)>0 else  "NA"

In [ ]:
data_mon={}
for year in data:
    data_mon[year]={}
    for month in data[year]:
        data_mon[year][month]={}
        for param in params:
            data_mon[year][month][param]=round(avg_list(data[year][month][param]),1)
print(data_mon)

In [ ]:
data

In [25]:
df=pd.DataFrame()

In [26]:
headers=['year','month'] + params
header_dict={}
for header in headers:
    header_dict[header]=[]
header_dict

{'year': [], 'month': [], 'TMAX': [], 'TMIN': [], 'PRCP': []}

In [27]:
for year in data_mon:
    for month in data_mon[year]:
        header_dict['year'] += [year]
        header_dict['month'] +=[month]
        for param in data[year][month]:
            header_dict[param] += [data_mon[year][month][param]]

In [ ]:
header_dict

In [29]:
for header in headers:
    print(header)
    df[header]=header_dict[header]

year
month
TMAX
TMIN
PRCP

In [30]:
df

     year  month  TMAX  TMIN  PRCP
0    1960      1   4.6  -1.9   2.3
1    1960      2   6.4  -1.7   3.6
2    1960      3   5.4  -3.3   2.4
3    1960      4  18.4   6.9   2.6
4    1960      5  21.7  11.8   3.4
..    ...    ...   ...   ...   ...
727  2020      8  30.0  20.8   2.6
728  2020      9  25.3  15.9   3.4
729  2020     10  18.8  10.2   3.7
730  2020     11  16.3   5.4   3.1
731  2020     12   7.4  -0.7   3.4

[732 rows x 5 columns]

In [31]:
# determining the name of the file
file_name = 'NewYork.xlsx'
  
# saving the excel
df.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.